:root {
  --main-color: #d3ad7f;
  --black: #13131a;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}


/* CSS */
.error-feedback {
  color: red;
}

.price {
  color: #d52220;
}

.cursor-pointer {
  cursor: pointer;
}

.compare-price {
  text-decoration: line-through;
}

.main-hover {
  cursor: pointer;
}

.main-hover:hover {
  color: var(--main-color);
  text-decoration: none;
}

a.main-hover {
  color: #13131a;
  text-decoration: none;
}

/* Card */

.card-container {
  position: relative;
  overflow: hidden;
}

.card {
  position: relative;
  transition: transform 0.2s;
  overflow: hidden;
  cursor: pointer;
}

.card:hover img.card-img-top {
  transform: scale(1.2);
}

.card-overlay {
  text-decoration: none;
  position: absolute;
  top: 2%;
  right: -25%;
  transition: right 0.4s;
  z-index: 999;
}

.card:hover .card-overlay {
  top: 2%;
  right: 2%;
}

.card-overlay:hover i.fa-cart-plus {
  color: blue;
}

.card-overlay i {
  padding: 5px;
  border-radius: 50%;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.7);
  font-size: 24px;
}